{% extends 'base.html' %}
{% block title %}Интерфейс{% endblock %}
{% block content %}
    {% load static %}


    <div class="container-fluid container-90">
        <div class="row">

            <div class="col-md-3">
                <div class="post-preview">
                    <a href="page.html">
                        <p class="post-meta">September 24, 2014</p>
                        <img class="img-responsive" src="{% static 'images/caralog4.jpg' %}">
                        <h2 class="post-title">
                            Зовнішні гвинтові сходи: фотодобірка
                        </h2>
                   <h4 class="post-subtitle">    
О том, какими плюсами и минусами обладают винтовые лестницы, сайт RMNT уже выяснял. Чаще всего такие решения владельцы используют внутри дома, когда вход на второй этаж нужен, а места в комнате мало. Но вполне можно установить винтовую лестницу и снаружи дома, экстерьер от этого только выиграет....
                        </h4>
                    </a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="post-preview">
                    <a href="page.html">
                        <p class="post-meta">September 18, 2014</p>
                        <img class="img-responsive" src="{% static 'images/caralog5.jpg' %}">
                        <h2 class="post-title">
                            Вибираємо перила для тераси
                        </h2>
                        <h4 class="post-subtitle">
                            Коли мова йде про будівництво тераси, тобто відкритої прибудови до будинку, вибирати потрібно не тільки матеріал для підлоги, про що сайт RMNT докладно розповідав, але і перила. Так, в ряді випадків вони необхідні. З'ясуємо, коли, якими можуть бути перила на терасі, наведемо красиві приклади ....
                        </h4>
                    </a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="post-preview">
                    <a href="page.html">
                        <p class="post-meta">August 24, 2014</p>
                        <img class="img-responsive" src="{% static 'images/caralog6.jpg' %}">
                        <h2 class="post-title">
                            Ідеї новорічного прикраси сходів
                        </h2>
                        <h4 class="post-subtitle">
                            До Нового року залишилося не так багато і пора задуматися над ідеями святкового декору. Перебрати залишилися з минулого року іграшки та мішуру, подумати, що потрібно докупити. Якщо в будинку є сходи, про неї теж не можна забувати. Сайт RMNT покаже вам, як можна прикрасити сходи до свят ....
                        </h4>
                    </a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="post-preview">
                    <a href="page.html">
                        <p class="post-meta">July 8, 2014</p>
                        <img class="img-responsive" src="{% static 'images/caralog1.jpg' %}">
                        <h2 class="post-title">
                            Домашній офіс під сходами: фотоприклади
                        </h2>
                        <h4 class="post-subtitle">
                            Якщо ви ніяк не можете вирішити, де ж облаштувати зручний, компактний і функціональний домашній офіс, зверніть увагу на простір під сходами. Зрозуміло, якщо вона є у вашому домі. Сайт RMNT призведе вам приклади дуже привабливих робочих місць, які розташувалися під сходами ....
                        </h4>
                    </a>
                </div>
            </div>

        </div>
        <!-- Pager
        <ul class="pager">
            <li class="next">
                <a href="#">Older</a>
            </li>
        </ul> -->
    </div>
{% endblock %}
