{% extends 'base.html' %}
{% block title %}Интерфейс{% endblock %}
{% block content %}
{% load static %}
{% if user.is_superuser %}
<h1>Замовлення клієнтів</h1>
{% else %}
<h1>Мої замовлення</h1>
{% endif %}
<div class="table_scroll">
    <table class="table" id="info-table">
        <tr>
            <th scope="col">Номер <br> замовлення</th>
            <th scope="col">Дата <br> замовлення</th>
            <th scope="col">Дата <br> затвердження</th>
            <th scope="col">Дата виїзду <br> на місце</th>
            <th scope="col">Орієнтовна <br>сума в грн</th>
            <th scope="col">Фінальна <br>сума в грн</th>
            <th scope="col">Дата <br>встановлення</th>
            <th scope="col">К-сть днів <br> на встанов</th>
            <th scope="col">Дата заверш <br> робіт</th>
            <th scope="col">Статус</th>
        </tr>
        {% if user.is_superuser %}
        {% if orders %}
        {% for order in orders %}
        <tr>
            <form action={% url 'orders:c_upd' order.id %} method='POST'>
                {% csrf_token %}
                <td scope="row"><a href="{% url 'orders:c_cli' order.order_number %} ">{{ order.order_number }}</a></td>                
                <td><input type="date" class="input_table" value="{{ order.order_date|date:"Y-m-d" }}" name="order_date"></td>
                <td><input type="date" class="input_table" value="{{ order.approval_date|date:"Y-m-d" }}" name="approval_date"></td>
                <td><input type="date" class="input_table" value="{{ order.departure_date|date:"Y-m-d" }}" name="departure_date"></td>
                <td><input type="number" class="input_table" value="{{ order.estimated_price }}" name="estimated_price"></td>
                <td><input type="number" class="input_table" value="{{ order.final_price }}" name="final_price"></td>
                <td><input type="date" class="input_table" value="{{ order.install_date|date:"Y-m-d" }}" name="install_date"></td>
                <td><input type="number" class="input_table" value="{{ order.num_days }}" name="num_days"></td>
                <td><input type="date" class="input_table" value="{{ order.complete_date|date:"Y-m-d" }}" name="complete_date"></td>
                <td><select class="form-select" style="width:150px" name="status">
                        {% if status %}
                        {% for st in status %}
                        {% if order.status == st.name %}
                        <option selected value="{{st.name}}">{{st.value}}</option>
                        {% else %}
                        <option value="{{st.name}}">{{st.value}}</option>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </select></td>
                <td>

                    <button type="submit" class="table_icon"><img src="{% static 'images/icons/pen.png' %}" alt=""></button>
                    <button type="button" class="table_icon"><a href="{% url 'orders:c_arc' order.id %} "><img src="{% static 'images/icons/archive.png' %}" alt=""></a></button>
                    <button type="submit" class="table_icon"><a href="{% url 'orders:c_del' order.id %} "><img src="{% static 'images/icons/trash.png' %}" alt=""></a></button>
                </td>

            </form>

        </tr>
        {% endfor %}
        {% endif %}
        {% else %}
        {% for order in orders %}
        <tr>
            <td scope="row"><a href="{% url 'orders:c_cli' order.order_number %} ">{{ order.order_number }}</a></td>  
            <td><input type="text" readonly class="input_table" value="{{ order.order_date|date:"Y-m-d" }}" name="order_date"></td>
            <td><input type="text" readonly class="input_table" value="{{ order.approval_date|date:"Y-m-d" }}" name="approval_date"></td>
            <td><input type="text" readonly class="input_table" value="{{ order.departure_date|date:"Y-m-d" }}" name="departure_date"></td>
            <td><input type="text" readonly class="input_table" value="{{ order.estimated_price }}" name="estimated_price"></td>
            <td><input type="text" readonly class="input_table" value="{{ order.final_price }}" name="final_price"></td>
            <td><input type="text" readonly class="input_table" value="{{ order.install_date|date:"Y-m-d" }}" name="install_date"></td>
            <td><input type="text" readonly class="input_table" value="{{ order.num_days }}" name="num_days"></td>
            <td><input type="text" readonly class="input_table" value="{{ order.complete_date|date:"Y-m-d" }}" name="complete_date"></td>
            <td> {% if status %}
                {% for st in status %}
                {% if order.status == st.name %}
                <input type="text" readonly class="input_table" value="{{st.value}}">
                {% else %}
                {% endif %}
                {% endfor %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        {% endif %}



    </table>
</div>
<!--
<form action="{% url 'accstairs:excel'%}">
    <button class="btn btn-outline-success">Export to Excel !</button>
</form>
-->



{% endblock %}
